
.grid_container{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;

    @media (max-width: 610px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        
      }

}
.cart_title{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--first-color);
    letter-spacing: 5px;
}
.flex_position{
    margin-top: 15px;
}

.image{
    margin: auto;
    max-width: 5rem;
    max-height: 5rem;
    
}
.price_sm{
    color:var(--text-color);
    letter-spacing: 3px;
}

.btn_lg{
    margin-top: 0.5rem;
    background-color:  var(--first-color);
    color: white;
    padding: 0.6rem;
    border: none;
    cursor: pointer;
}
.title{
    margin-top: 1rem;
}
.btn_sm{
    color: white;
    font-weight: bold;
    background-color:  var(--first-color);
    padding: 0 10px;
    margin:0 10px;
    border: none;
    cursor: pointer;
}

.container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px gray;
    padding: 20px;
    margin: auto;
    margin-top: 1rem;
    @media (max-width: 620px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}

.total_span{
    font-size: large;
    font-weight: bold;
}
.total_price{
    font-size: larger;
    font-weight: bolder;
    color: gray;
    letter-spacing: 3px;
    @media (max-width: 620px) {
        margin-top: 10px;
    
      }
}
.empty_card{
    color: var(--text-color);
    letter-spacing: 5px;
}
